@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');

.jumbotron {
  width: 20%;
  margin: auto;
  display: block;
}

.form-control {
  max-height: 2.5rem;
}

.table {
  float: center;
  text-align: center;
}

#submit-btn {
  background-color: #167bff;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1rem;
}

p {
  font-size: small;
  letter-spacing: 1px;
  color: grey;
}

.card {
  margin: 30px;
}