@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');

.jumbotron {
  width: 20%;
  margin: auto;
}

.form-control {
  max-height: 2rem;
}

.table {
  float: center;
}

#submit-btn {
  background-color: #167bff;
  color: white;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  height: 60px;
  letter-spacing: 0.1rem;
}

p {
  font-size: small;
}